@import "bootstrap";
@import "users";
@import "matches";
@import "devise";
@import "font-awesome";
@import 'slick';

html {
  min-height: 100%;
}

.body {
  background-color: #f0f0f0;
  font-family: 'Play', sans-serif;
}

.body-with-bg {
  background: asset-url('login_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.header-bg {
  background-color: #D30208;
  background: asset-url('WC_bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  border-bottom: 2px solid #e5c685;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.navbar-logo {
  height: 100px;
}

.white-text {
  color: white !important;
}

.navbar-nav__nav-item {
  @include media-breakpoint-down(md) {
    text-align: center;
    a {
      font-size: 14px;
    }
  }
}

.navbar__dropdown-menu {
  background-color: darkred;
  :hover {
    background-color: darkred;
  }
}

.current-user-row {
  border: 2px solid green;
}

.text-blue {
  color: #015386 !important;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-yellow {
  color: #E5C685;
}

.text-gray {
  color: gray;
}

.text-gray-small {
  color: gray;
  font-size: 12px;
}

.text-gray-extra-small {
  color: gray;
  font-size: xx-small;
}