.predictions-card {
  text-align: center;
  color: darkgrey;
  background-color: white;
  border-radius: 0;
}

.predictions-card__header {
  background-color: white;
  border-radius: 0;
  border: 0;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  //border-bottom: 1px solid darkgrey;
}

.prediction-card-header__sub-title {
  font-size: smaller;
}

.prediction-card-header__marquee {
  margin-top: 1rem;
  margin-bottom: .75rem;
  p {
    margin-bottom: 0;
  }
}

.predictions-card__body {
  padding: 0;
}

.match-list__tab-bar {
  border-bottom: 0;
}

.match-list__tab, .match-list__tab .match-list__tab-link {
  border-radius: 0;
}

.match-list__tab-content {
  //margin-left: 1rem;
  //margin-right: 1rem;
  //border-left: 1px solid #015386;
  //border-right: 1px solid #015386;
}

.match-list__header {
  text-align: center;
  color: white;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 40px;
  background-color: #0074B1;
}

.match-list__header:first-child {
  margin-top: 0;
}

.match-list__card {
  border-radius: 0;
  margin-bottom: 0;
}

.match-list__card-header {
  color: #015386;
  font-size: 22px;
  padding: 0;
  background-color: lightgrey;
  border: 0;
  height: 50px;
  cursor: pointer;
}
.match-list__card-header:first-child {
  border-radius: 0;
}

.match-list__card-header--predicted {
  border-right: 20px solid #00FF87;
  border-left: 20px solid #00FF87;
}

.match-card__flag {
  height: 100%;
}

.match-card__left-flag {
  margin-left: 5px;
  #border-right: 3px solid white;
}

.match-card__right-flag {
  margin-right: 5px;
  #border-left: 3px solid white;
}

.match-card__kick-off {
  background-color: #0074B1;
  color: white;
  font-size: 12px;
  text-align: center;
  height: 100%;
  padding: .5rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.match-card__card-body {
  padding: 0;
}

.kick-off__time {
  margin: auto;
  min-width: 34px;
}

.kick-off__live {
  margin: auto;
  min-width: 34px;
  color: red;
  animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
  0%{		color: red;	}
  50%{	color: transparent;	}
  100%{	color: red;	}
}

.match-card__team-name {
  min-width: 28%;
  font-weight: bold;
}

.prediction-form__field {
  width: 200px;
  border-radius: 0;
  margin: 5px 0;
}

.prediction-form__notice {
  color: black;
  background-color: #F5EED5;
  margin: 20px 0 20px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.prediction-form__notice--predicted {
  background-color: #00FF87;
}

.prediction-form__notice--error {
  border: 2px solid red;
}

.prediction-form__notice-subtext {
  font-size: 12px;
  font-weight: lighter;
  margin: 5px 0;
}

.prediction-form__score-inputs {
  padding-top: 5px;
  width: 200px;
}

.prediction-form__score-input {
  width: 60px;
  border: 1px solid;
  text-align: center;
}

.prediction-form__score-input--error {
  border-color: red;
}

.prediction-form__decider-select {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.prediction-form__decider-label {
  color: black;
  padding: 5px 5px 5px 5px;
  text-align: center;
  width: 100%;
  background-color: #F5EED5;
}

.prediction-form__decider-label--predicted {
  background-color: #00FF87;
}

.prediction-form__score-danger-alert {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 200px;
  text-align: center;
}

.match-result__correct-prediction {
  color: #00FF87;
}

.match-result__wrong-prediction {
  color: red;
}

.match-result__decider-notice {
  background-color: #00FF87;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.prediction-form__penalty-winner {
  color: black;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

.profile-card {
  border-radius: 0;
}

.profile-card__info-row {
  height: 175px;
}

.profile-card__flag-container {
  border-right: 1px solid lightgrey;
}

.profile-card__flag {
  width: 120px;
  margin: auto;
}

.profile-card__info-container {
  padding-left: 29.25px;
  color: darkgrey;
}

.profile-card__flag-icon {
  width: 15px;
  margin-left: 5px;
}

.profile-card__rankings-header, .profile-card__rankings {
  margin-bottom: 0.25rem;
}

.rankings__group-container {
  border-right: 1px dotted lightgrey;
  text-align: center;
}

.rankings__group-container:last-child {
  border-right: 0;
}

.rankings__group-name {
  font-size: small;
}

.rankings__rank {
  font-size: xx-large;
}

.rankings__point {
  font-size: smaller;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}
.marquee p {
  text-align: left;
  width: 100%;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(100%, 0); }
  100% { transform: translate(-400%, 0); }
}