.prediction-card__date-strip{
  color: grey;
  .slick-track {
    border-top: 1px solid lightgrey;
    cursor: pointer;
  }
  .slick-slide {
    //border-bottom: 5px solid lightgrey;
    border-left: 1px dotted lightgrey;
  }
  .slick-current {
    color: #015386;
    border-bottom: 5px solid #015386;
  }
}

.date-strip__item {
  height: 75px;
  .month {
    font-size: smaller;
  }
  .day {
    font-size: x-large;
  }
  .pending-predictions-badge {
    font-size: x-small;
  }
}

.match-strip__item {
  border-top: 3px solid #015386;
  color: #015386;
}

.match-card {
  margin: 10px;
  background-color: #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

//match card header classes

.match-card__header {
  color: white;
  font-size: 22px;
  background-color: #015386;
  //margin-top: 10px;
  height: 45px;
}

.match-card__header--predicted {
  border-left: 10px solid green;
  border-right: 10px solid green;
  @include media-breakpoint-up(md) {
    border-left: 20px solid green;
    border-right: 20px solid green;
  }
}

.match-card-header__team-name {
  min-width: 28%;
  font-weight: bold;
}

.match-card-header__flag {
  height: 100%;
}

.match-card-header__left-flag {
  margin-left: 5px;
  #border-right: 3px solid white;
}

.match-card-header__right-flag {
  margin-right: 5px;
  #border-left: 3px solid white;
}

.match-card-header__kick-off {
  background-color: #015386;
  color: white;
  font-size: 12px;
  text-align: center;
  height: 100%;
  padding: .5rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.kick-off__time {
  margin: auto;
  min-width: 34px;
}

.kick-off__live {
  margin: auto;
  min-width: 34px;
  color: red;
  animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
  0%{		color: red;	}
  50%{	color: transparent;	}
  100%{	color: red;	}
}

//prediction form classes

.prediction-form {
  background-color: #DDDDDD;
  padding: 0.25rem 0.5rem;
}

.prediction-form__form-row {
  width: 100%;
  margin: 0.75rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: left;
  }
}

.prediction-form__goal-fields {
  display: flex;
  justify-content: center;
}

.prediction-form__form-group {
  margin-left: 0.25rem;
  &:first-child {
    margin-left: 0;
  }
}

.prediction-form__submit-btn {
  background-color: #015386;
  color: white;
  max-width: 40%;
  @include media-breakpoint-up(md) {
    margin-left: 0.25rem;
  }
}

.prediction-form__footer {
  color: grey;
  font-size: smaller;
}

.prediction-list__header {
  color: grey;
  font-size: smaller;
}

.match-status-icon__ongoing {
  color: green;
  margin: auto;
  min-width: 34px;
  animation:blinkingStatus 2s infinite;
}

@keyframes blinkingStatus{
  0%{		color: green;	}
  50%{	color: transparent;	}
  100%{	color: green;	}
}

.match-result__correct-prediction {
  color: green;
}

.match-result__wrong-prediction {
  color: red;
}

.prediction-list__toggle-button {
  font-size: smaller;
}

.prediction-table {
  margin-bottom: 0;
}

.prediction-table>thead>tr>th, .prediction-table>tbody>tr>th, .prediction-table>tfoot>tr>th, .prediction-table>thead>tr>td, .prediction-table>tbody>tr>td, .prediction-table>tfoot>tr>td{
  padding: 7px;
}

.predictions-table-header__left-pane {
  border-right: 1px solid grey;
}

.predictions-table-header__sub-text {
  color: grey;
  font-size: small;
}

.prediction-table__toggle-bar {
  background-color: #015386;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.prediction-table__toggle-btn {
  font-size: small;
  cursor: pointer;
}

.prediction-table__pill-title  {
  color: #015386;
  outline: none;
}

.prediction-table__pill-title.active  {
  color: white;
  background-color: #015386 !important;
}

.prediction-table__pills {
  padding-top: 10px;
}

.prediction-table__result-icon {
  padding: 1px;
}

.prediction-table__help-text {
  padding: 3px !important;
}

.prediction-table__loading-text {
  font-size: small;
  color: grey;
}

.prediction-table__loading-icon {
  margin: 2px;
}

.prediction-table__link {
  display: none;
}
