.content-box {
  padding: 30px;
  background-color: white;
  box-shadow: #666666;
  border-radius: 5px;
  border: 1px solid gray;

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
}


.rules-text {
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.7;
}
