.login-form-container {
  min-height: 100vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login-form, .signup-form {
  background-color: rgba(52, 98, 183, 0.8);
  border: 1px solid white;
  width: 300px;
  min-height: 350px;
  margin: auto;
  display: flex;
  form {
    margin: auto;
  }
}

.signup-form {
  min-height: 650px;
}

.login-form__input-group {
  min-width: 250px;
}

.login-form__error-box {
  width: 300px;
}