.login-form-container {
  height: 100vh;
}

.login-form {
  background-color: rgba(52, 98, 183, 0.8);
  width: 350px;
  height: 500px;
  margin: auto;
  display: flex;
  form {
    margin: auto;
  }
}

.login-form__input-group {
  min-width: 300px;
}

.login-form__error-box {
  width: 300px;
}