.login-form-container {
  height: 100vh;
}

.login-form {
  background-color: rgba(52, 98, 183, 0.8);
  width: 350px;
  height: 500px;
  margin: auto;
  display: flex;
  form {
    margin: auto;
  }
}

.login-form__text-field {
  width: 300px;
  margin-bottom: 20px;
  height: 45px;
}

.login-form__remember-me-label {
  margin-left: 5px;
  margin-bottom: 0;
  color: white;
}

.login-form__login-button {
  margin-top: 20px;
}

.login-form__error-box {
  width: 300px;
}